@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand img {
  width: 30px;
  padding: 0 8px;
}

nav {
  font-family: "Ubuntu", "sans-serif";
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0px 10px;
}

.container {
  min-height: 65vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  background-image: url(./bg.jpg);
  background-size: cover;
}

.songList h1 {
  margin: 10px 20px;
  font-size: 1.3rem;
}

.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0; /* not work so giving container height*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#myProgressBar {
  width: 80vw;
}

.icons {
  margin-top: 30px;
}

.icons i {
  width: 50px;
  height: 20px;
}
